* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    background-color: mediumslateblue;
}

.flex-container {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: coral;

    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */


    /* justify-content: center; */
    /* align-items: center; */
    /* gap: 10px; */
    /* para align-self */
    /* align-content: space-around; */

    width: 50vw;
    height: 700px;
    margin: 0 auto;
}

.flex-item {
    border: 1px solid red;
    border-radius: 10px;
    background-color: cadetblue;
    /* margin: 10px; */
    width: 100px;
    height: 100px;
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 800;

    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center;s */
}



/* .item-1{
    order: 2;
} */

/* .item-2{
    order: 1;
} */

/* .item-3{
    order: 4;
} */

/* .item-4{
    order: 3;
} */

/* .item-5{
    order: 6;
} */

/* .item-6{
    order:5;
} */



/* .item-1 {
    background-color: red;
    align-self: flex-start;
} */

/* .item-2 {
    background-color: green;
    align-self: flex-end;
} */



/* .item-1 {
    flex-grow: 2;
} */

/* .item-2 {
    flex-grow: 1;
} */

/* .item-3 {
    flex-grow: 1;
} */

/* .item-4 {
    flex-grow: 1;
} */

/* .item-5 {
    flex-grow: 1;
} */

/* .item-6 {
    flex-grow: 3;
} */




/* .item-1 {
    flex-shrink: 5;
} */


/* .item-1 {
    flex-basis: 110px;
} */